AdvancedHTMLParser==9.0.2
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
idna==3.4
importlib-metadata==6.8.0
linkify-it-py==2.0.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
Pygments==2.16.1
QueryableList==3.1.0
requests==2.31.0
rich==13.6.0
six==1.16.0
textual==0.40.0
typing_extensions==4.8.0
uc-micro-py==1.0.2
urllib3==2.0.6
wcwidth==0.2.8
zipp==3.17.0